body {
    background-color: rgba(68, 55, 55, 0.18);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

main {
    text-align: center;
}


/* index.html */
.display-title {
    font-size: 60px;
    color:rgb(42, 83, 100);
    
}

.display-message {
    font-size: 30px;
    margin-top: 10%;
    color: rgb(164, 112, 164);
}

.play {
    font-size: 40px;
    text-decoration: none;
    margin: 25px auto;
    color: rgb(158, 158, 14);
    position: relative;
    top: 50px;
}

/* game.html */


.title {
    font-size: 55px;
    margin: 10px auto;
    color: rgb(42, 83, 100);
}


.record {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    
    
}
.message {
    position: relative;
    bottom: 10px;
    font-size: 40px;
    color: rgba(15, 146, 194, 0.984);
    padding-top: 25px;
}
#red {
    color: red;
    font-size: 20px;
    padding-bottom: 10px;
}

#yellow {
    color: rgb(255, 255, 0);
    font-size: 20px;
    position: relative;
    bottom: 2px;
    padding-bottom: 10px;
}

.board {
    display: grid;
    grid-template-columns: repeat(7,auto);
    grid-template-rows: repeat(6, auto);
    max-width: 470px;
    width: 100%;
    row-gap: 5px;
    line-height: 100px;
    margin: 35px auto;
    border: 5px solid blue;
    background-color: blue;
    margin-bottom: 30px;
}

.spot {
    display: flex;
    column-gap: -10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 25px;
    border-radius: 50%;
    border: 4px solid black;
    margin-left: 5px;
    background-color: white;
    cursor: pointer;
}



.restart-game {
    width: 105px;
    height: 30px;
    font-size: 12px;
    color: white;
    background-color: brown;
    cursor: pointer;
}