body {
    background-color: rgba(210, 33, 33, 0.18);
}

section {
    text-align: center;
}

.title {
    font-size: 90px;
    margin: 10px auto;
    color: rgb(42, 83, 100);
}

.board {
    display: grid;
    grid-template-columns: repeat(7,auto);
    grid-template-rows: repeat(6, auto);
    max-width: 600px;
    width: 100%;
    row-gap: 5px;
    line-height: 100px;
    margin: 30px auto;
    color: red;
    border: 5px solid blue;
    background-color: blue;
}

.spot {
    display: flex;
    column-gap: -10px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    font-size: 60px;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: -30px;
    background-color: white;
    cursor: pointer;
}

.score {
    font-size: 40px;
}

.display-title {
    font-size: 60px;
    color:rgb(42, 83, 100);
}

.display-message {
    font-size: 30px;
    margin-top: 10%;
    color: rgb(163, 160, 160);
}

.play {
    font-size: 40px;
    text-decoration: none;
    margin: 25px auto;
    color: rgb(158, 158, 14);
    position: relative;
    top: 50px;
}